## 1) Library & Data Import

In [0]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [0]:
df = pd.read_csv("https://raw.githubusercontent.com/yoonkt200/FastCampusDataset/master/BostonHousing2.csv")

In [0]:
df.head()

         TOWN     LON      LAT  CMEDV  ...  TAX  PTRATIO       B  LSTAT
0      Nahant -70.955  42.2550   24.0  ...  296     15.3  396.90   4.98
1  Swampscott -70.950  42.2875   21.6  ...  242     17.8  396.90   9.14
2  Swampscott -70.936  42.2830   34.7  ...  242     17.8  392.83   4.03
3  Marblehead -70.928  42.2930   33.4  ...  222     18.7  394.63   2.94
4  Marblehead -70.922  42.2980   36.2  ...  222     18.7  396.90   5.33

[5 rows x 17 columns]

#### Feature Description
- TOWN : 지역 이름
- LON, LAT : 위도, 경도 정보
- **CMEDV : 해당 지역의 집값(중간값)**
- CRIM : 근방 범죄율
- ZN : 주택지 비율
- INDUS : 상업적 비즈니스에 활용되지 않는 농지 면적
- CHAS : 경계선에 강에 있는지 여부
- NOX : 산화 질소 농도
- RM : 자택당 평균 방 갯수
- AGE : 1940 년 이전에 건설된 비율
- DIS : 5 개의 보스턴 고용 센터와의 거리에 다른 가중치 부여
- RAD : radial 고속도로와의 접근성 지수
- TAX : 10000달러당 재산세
- PTRATIO : 지역별 학생-교사 비율
- B : 지역의 흑인 지수 (1000(B - 0.63)^2), B는 흑인의 비율.
- LSTAT : 빈곤층의 비율

-----

## 2) EDA (Exploratory Data Analysis : 탐색적 데이터 분석)

### 2-1) 회귀 분석 종속(목표) 변수 탐색

##### 데이터셋 기본 정보 탐색

##### 'CMEDV' 피처 탐색

-----

### 2-2) 회귀 분석 설명 변수 탐색

##### 설명 변수들의 분포 탐색

##### 설명 변수들의 상관관계 탐색

##### 설명 변수와 종속 변수의 관계 탐색

##### 지역별 차이 탐색

-----

## 3) 집값 예측 분석 : 회귀분석

### 3-1) 데이터 전처리

##### 피처 표준화

In [0]:
df.head()

         TOWN     LON      LAT  CMEDV  ...  TAX  PTRATIO       B  LSTAT
0      Nahant -70.955  42.2550   24.0  ...  296     15.3  396.90   4.98
1  Swampscott -70.950  42.2875   21.6  ...  242     17.8  396.90   9.14
2  Swampscott -70.936  42.2830   34.7  ...  242     17.8  392.83   4.03
3  Marblehead -70.928  42.2930   33.4  ...  222     18.7  394.63   2.94
4  Marblehead -70.922  42.2980   36.2  ...  222     18.7  396.90   5.33

[5 rows x 17 columns]

##### 데이터셋 분리

-----

### 3-2) 회귀 분석 모델 학습

-----

### 3-3) 학습 결과 해석

##### R2 score, RMSE score 계산

##### 피처 유의성 검정

##### 다중 공선성