### 텍스트 마이닝

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/yoonkt200/FastCampusDataset/master/bourne_scenario.csv")

In [3]:
df.head()

,page_no,scene_title,text
0,1,1 EXT. MERCEDES WINDSHIELD -- DUSK,1 It's raining... ...
1,1,A1 INT. MERCEDES -- NIGHT,A1 On his knee -- a syringe an...
2,1,2 INT. COTTAGE BEDROOM -- NIGHT,2 BOURNE'S EYES OPEN! -- panic...
3,1,A2 INT. COTTAGE LIVING AREA/BATHROOM ...,A2 BOURNE moving for the medic...
4,2,3 INT./EXT. COTTAGE LIVING ROOM/VERA...,3 One minute later. BOURNE mo...

### EDA 진행

In [4]:
# 데이터 개수
df.shape

(320, 3)

In [5]:
# 널값 확인
df.isnull().sum()

page_no        0
scene_title    0
text           0
dtype: int64

In [6]:
# 데이터 형태 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   page_no      320 non-null    int64
 1   scene_title  320 non-null    object
 2   text         320 non-null    object
dtypes: int64(1), object(2)
memory usage: 7.6+ KB

In [8]:
# 실제 사용하고자 하는 데이터 형태 확인
df['text'][0]

" 1                It's raining...                Light strobes across the wet glass at a rhythmic pace...                 Suddenly -- through the window a face -- JASON BOURNE --               riding in the backseat -- his gaze fixed.      "

### 정규식을 써 텍스트 전처리

In [24]:
# 정규식을 써 숫자, 공백, 특수문자, 대문자, 를 제거해 통일을 해야 한다. 
import re

def apply_regular_expression(text):
    text = text.lower()
    english = re.compile('[^ a-z]') # '^' = 모두 들고 옴, 즉 '^ _____' 으로 띄어쓰기+a-z만 들고옴(나머지 특수문자 없어짐)
    result = english.sub('', text) #.sub() - 정규표현식을 들어오는 text파라미터에 적용함
    result = re.sub(' +', ' ', result) # ' +' = 띄어쓰기가 2개이상이면 ' ' 하나로 바꿔 줘
    return result

In [25]:
apply_regular_expression(df['text'][0])

' its raining light strobes across the wet glass at a rhythmic pace suddenly through the window a face jason bourne riding in the backseat his gaze fixed '

In [10]:
a = df['text'][0]

In [13]:
a

" 1                It's raining...                Light strobes across the wet glass at a rhythmic pace...                 Suddenly -- through the window a face -- JASON BOURNE --               riding in the backseat -- his gaze fixed.      "

In [22]:
text = a.lower()
text

" 1                it's raining...                light strobes across the wet glass at a rhythmic pace...                 suddenly -- through the window a face -- jason bourne --               riding in the backseat -- his gaze fixed.      "

In [20]:
result = english.sub('', text)
result

'                 its raining                light strobes across the wet glass at a rhythmic pace                 suddenly  through the window a face  jason bourne                riding in the backseat  his gaze fixed      '

In [23]:
result = english.sub('!', text)
result

' !                it!s raining!!!                light strobes across the wet glass at a rhythmic pace!!!                 suddenly !! through the window a face !! jason bourne !!               riding in the backseat !! his gaze fixed!      '